In [2]:
#**Question1: How do you select rows from a DataFrame where any value in the row exceeds a threshold?**

import pandas as pd

In [3]:
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
threshold = 30

In [4]:
filtered_df = df[df.gt(threshold).any(axis=1)]

In [5]:
print(filtered_df)

   A   B
3  4  40
4  5  50

In [6]:
#**Question2: How do you sort a DataFrame by columns A and B?**

df = pd.DataFrame({'A': [2, 1, 2], 'B': [2, 3, 1], 'C': [1, 2, 3]})

In [7]:
sorted_df = df.sort_values(by=['A', 'B'])

In [8]:
print(sorted_df)

   A  B  C
1  1  3  2
2  2  1  3
0  2  2  1

In [10]:
#** Question 3: How do you concatenate two DataFrames vertically?**
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

In [11]:
result = pd.concat([df1, df2], axis=0, ignore_index=True)

In [12]:
print(result)

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [13]:
#** Question 4: How do you compute the cumulative sum of a column in a DataFrame?**
df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})

In [14]:
df['Cumulative_Sum'] = df['A'].cumsum()

In [15]:
print(df)

   A  Cumulative_Sum
0  1               1
1  2               3
2  3               6
3  4              10
4  5              15

In [16]:
# ** Question 5: How do you convert a Series of strings to uppercase?**
series = pd.Series(['apple', 'banana', 'cherry'])

In [17]:
uppercase_series = series.str.upper()

In [18]:
print(uppercase_series)

0     APPLE
1    BANANA
2    CHERRY
dtype: object